# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.package-lock.json
.package.json

# Visual Studio Code
.jshintrc
.vscode/

# Java IDEs
.classpath
.project
.settings
.idea
/target/

backend/src/main/resources/specific.properties
backend/src/main/resources/dendrograms/
backend/src/main/resources/profiles/
