#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
mono2micro.iml

src/main/resources/specific.properties
src/main/resources/codebases/
src/main/resources/dendrograms/
src/main/resources/experts/
src/main/resources/evaluation/data/
src/main/resources/evaluation/mojoCalculator/src/main/resources
src/main/resources/evaluation/simMeasuresVsCohesion/
src/main/resources/evaluation/simMeasuresVsComplexity/
src/main/resources/evaluation/simMeasuresVsCoupling/

.sts4-cache/
