/.idea
/target
codeql-runner.iml
CodeQLRunner.class
/test-resources/fragments/spring-data-jpa/spring-db/
/test-resources/fragments/django_fragment/django-db/
/test-resources/fragments/fenix-fragment/fenix-db/
/test-resources/endToEnd/springboot-thymeleaf-crud-pagination-sorting-webapp/.mvn/
/test-resources/endToEnd/springboot-thymeleaf-crud-pagination-sorting-webapp/springboot-thymeleaf-crud-pagination-sorting-webapp-db/
/test-resources/endToEnd/springboot-thymeleaf-crud-pagination-sorting-webapp/target/
/test-resources/endToEnd/springboot-REACT-CRUD-Full-Stack-App/.mvn/
/test-resources/endToEnd/springboot-REACT-CRUD-Full-Stack-App/target/
/test-resources/endToEnd/springboot-REACT-CRUD-Full-Stack-App/springboot-REACT-CRUD-Full-Stack-App-db/
/test-resources/endToEnd/springboot-Angular-CRUD-Full-Stack-App/.mvn/
/test-resources/endToEnd/springboot-Angular-CRUD-Full-Stack-App/springboot-Angular-CRUD-Full-Stack-App-db/
/test-resources/endToEnd/springboot-Angular-CRUD-Full-Stack-App/target/
/test-resources/endToEnd/fenix-banking-app-test/.idea/
/test-resources/endToEnd/fenix-banking-app-test/fenix-banking-app-test-db/
/test-resources/endToEnd/fenix-banking-app-test/target/
/test-resources/endToEnd/django-socialmedia-app-test/django-socialmedia-app-test-db/
/test-resources/endToEnd/django-blog-app-test/django-blog-app-test-db/
/test-resources/endToEnd/django-banking-app-test/django-banking-app-test-db/
